<!DOCTYPE html>
<html>
<head>
  <title>Hashlate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1>Pathfinder</h1>
  <h4>XML & JSON Decoder</h4>
</header>
<body>

<%= yield %>

</body>
</html>
