<!DOCTYPE html>
<html>
<head>
  <title>Hashlate</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1>API Pathfinder</h1>
  <h4>XML & JSON Decoder</h4>
  <p id='header-description'>API Pathfinder is an app that parses an API's JSON/XML object and generates the key path for any specific attribute. Go ahead in plug in any API url endpoint and click away!</p>
</header>
<body>

<%= yield %>

</body>
</html>
